@model PropertyManager.Models.MaintenanceProjects

<h1>Add New Maintenance Project</h1>

<form asp-action="Create">

    <!-- Project Title-->
    <div>

    </div>

    <!-- Bid Amount -->

    <!-- Status -->

    <!-- AssignedVendor -->

    <!-- Property -->
</form>